/* Author: Luke Sheltraw. This is an example comment. */

@font-face {
    font-family: "Anuphan";
    src: url("assets/Anuphan-VariableFont_wght.ttf");
}

html {
    font-family: "Anuphan", Helvetica, Verdana, sans-serif;
}

nav > a {
    color: #127475;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

nav > a:hover {
    color: blue;
}

h2, h3 {
    color: rgb(90, 95, 95);
}

#titles > h2 {
    margin-bottom: 0.25lh;
}

#titles > h3 {
    margin-top: 0;
}

li.present {
    color: hsl(0, 0%, 15%);
}

li.not-present {
    color: hsl(0, 0%, 65%);
}

input[type="radio"], input[type="checkbox"] {
    accent-color: blue;
}

fieldset {
    background-image: linear-gradient(160deg, white, rgba(0,255,255,0.3));
    width: 45vw;
}

button#submit-button {
    background-color: cyan;
    padding: 5px 20px 5px 20px;
    margin-left: 10px;
    border-width: 1pt;
    border-style: solid;
    border-radius: 3Q;
    border-color: black;
}

button#submit-button:active {
    background-color: blue;
    color: white;
}